/* General Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f3ebe0;
    color: #333;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.6;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h1 {
    font-size: 2rem;
    margin-bottom: 25px;
    color: #000;
}

label {
    font-weight: bold;
    color: #444;
    font-size: 1.2rem;
}

input,
button {
    width: 100%;
    padding: 15px;
    margin: 10px 0 20px;
    font-size: 1.2rem;
    border-radius: 6px;
}

input {
    border: 1px solid #ccc;
    outline-color: #f78e0e;
    /* Outline color for focus */
}

button {
    background-color: #f78e0e;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c7720a;
}

#results {
    margin-top: 30px;
}

.stick-result {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.stick-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.remaining-space,
.cuts-list {
    font-size: 1.1rem;
    color: #f78e0e;
    /* Consistent color for remaining space */
}

.cuts-list {
    color: #333;
    margin-bottom: 10px;
}

.cuts-chart {
    margin-top: 15px;
    height: 40px;
}

.button-space {
    margin-bottom: 20px;
    /* Add space below buttons */
}

/* Print Styles */
@media print {
    body * {
        visibility: hidden;
    }

    #printableCuts,
    #printableCuts * {
        visibility: visible;
    }

    #printableCuts {
        position: absolute;
        left: 0;
        top: 0;
    }
}